<!DOCTYPE html>
<html>

<head>

<title>CampusTrack Dashboard</title>

</head>


<body>


<h1>CampusTrack</h1>


<h2>Welcome</h2>


<p>
Student Performance & Analytics System
</p>
<h3>Total Students: {{total_students}}</h3>

<h3>Total Subjects: {{total_subjects}}</h3>

<h3>Total Marks Records: {{total_marks}}</h3>

<hr>



<hr>



<a href="/students">

<button>
Manage Students
</button>

</a>


<br><br>



<a href="/subjects">

<button>
Manage Subjects
</button>

</a>


<br><br>



<a href="/marks">

<button>
View Marks
</button>

</a>


<br><br>



<a href="/reports">

<button>
Generate Reports
</button>

</a>


<br><br>





<br><br>



<a href="/">

<button>
Logout
</button>

</a>



</body>

</html>
<a href="/topper">
<button>Top Performer</button>
</a>